body{
	margin: 0;
	text-align: center;
	font-family: 'Merriweather' , serif;
}
h1{
	font-family: 'Sacramento', cursive;
	font-size: 562.5%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	color: #66BFBF;
}
h2{
	font-family: 'Montserrat', sans-serif;
	color: #66BFBF;
	font-size: 40px;
	font-weight: normal;
}
h3{
	font-family: 'Montserrat', sans-serif;
	color: #11999E;
}
hr{			
	border-style:dotted;
	border-color: #EAF6F6;
	width: 5%;
	border-width: 5px;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}
a{
	color: #11999E;
}
.top-container{
	background-color:  #E4F9F5;
	position: relative;
	padding-top: 100px;

}
.bottom-container{
	background-color: #66BFBF;
	padding-top: 50px;
	padding-bottom: 50px;
}
.copyright{
	color: #EAF6F6;
}
.intro{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	color: #40514E;
	
}
.footer-link1{
	color : #11999E;
	text-decoration: none;
}
.footer-link2{
	color : #11999E;
	padding-right: 50px;
	padding-left: 50px; 
	text-decoration: none;
}
.footer-link3{
	color : #11999E;
	text-decoration: none;
}
.pro{
	text-decoration: underline;
}
.bottom-cloud{
	position: absolute;
	left: 300px;
	bottom: 300px;
}
.top-cloud{
	position: absolute;
	right: 300px;
	top: 50px;
}
.skill-row{
	width: 50%;
	margin: 100px auto 100px auto;
	text-align: left;
	line-height: 2;
}
.skill1{
	width: 25%;
	float: left;
	margin-right: 30px;
	border-radius: 100%;
}
.skill2{
	width: 25%;
	float: right;
	margin-left: 30px;
	border-radius: 100%;
}
.para1{
	color: #40514E;
}
.para2{
	color: #40514E;
}
.end{
	color: #40514E;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 60px;
}
.dp{
	width: 25%;
	padding-top: 50px;
	border-radius: 100%;
}
.BUTTON_LXQ {
   background: #3D94F6;
   background-image: linear-gradient(top bottom #3D94F6 #1E62D0);
   border-radius: 20px;
   color: #F9FAFB;
   font-family: Open Sans;
   font-size: 40px;
   font-weight: 100;
   padding: 40px;
   box-shadow: 1px 1px 20px 0px #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_LXQ:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: linear-gradient(top bottom #1E62D0 #3D94F6);
   border-radius: 20px;
   text-decoration: none;
}